---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";


$boloblue: #3B75AF;
$bolored: #B01736;
$bololightblue: #99CCFF;
$bologrey: #424242;
$bologrigio: #455B71;

body {
  font-family: 'Lato', sans-serif;
}
a:visited, a:visited:hover {
  color: $brand-color;
}

.site-header {
  border-top: 8px solid $boloblue;
  border-bottom: 2px solid #96731B;
  background-color: $bololightblue;
  padding-bottom: 10px;
}
.site-title {
  font-weight: 500;

  &:hover, &:visited:hover {
    text-decoration: none;
    color: #fff;
  }
}
header .wrapper {
  display: flex;
  align-items: flex-end;
}


//Task form

form {
  padding-top:40px;
  width: 800px;
  margin: 0 auto;

legend {
  font-weight: 700;
  font-size: 1.2rem;
}
  fieldset {
    background-color: lightyellow;
  }
}

#display {
  font-family: "Titillium Web";
  border-left: 3px solid orange;
  padding-left: 12px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #6d350d;
  font-weight: 500;
}



//Navigation
ul {
  margin: 0 auto;
  list-style: none;
  width: 240px;

  li {
    width: 100%;
    text-align: left;
    border: 1px solid #aaa;
    padding: 5px;
    margin: 2px 0;
    transform: translateX(24px);
  }

  &.main-menu a:hover {
text-decoration: none;
    li:hover {
    background-color: $boloblue;
    color: #fff;

}
}
}

li.first-current {
  transform: translateX(0px);
  background-color: $boloblue;
  a {

    color: #fff;
  }
}



//Footer
footer.site-footer {
  background-color: $bologrey;
  border-top: 5px solid $bologrigio;
  padding: 12px;
  color: #fff;
  h2, p {
    margin: 0;
  }
.footer-col-3 p {
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  font-family: "Titillium Web";
}
}
